@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,500&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}
/*----====----====----
 section first
----====----====---- */
.firsts{
 
}
.first{
    display: flex;
    justify-content: space-between;
}
.first img{
    width: 440px;
    height: 414px;
    margin-right: 165px;
    margin-top: 211px;
}
.first1 h1{
    font-weight: bold;
 }
.first1{
    margin-left: 120px;
    margin-top: 285px;
    width: 582px;
    height: 270px;
}
.button-1{
    width: 196px;
    height: 44px;
    background-color: rgb(226, 67, 67);
    border-radius: 35px;
}
.button-1 {
    text-decoration: none;
    padding: 10px;
    color: white;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 15px;

}
/*--------------------
        logo
--------------------- */
.logos{
    display: flex;
    justify-content: center;
    margin-bottom: 0px;
}
.logo{
    width: 1110px;
    height: 110px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0px;
}
.logo-name img{
    margin: 34px, 60px;
}
/* -------------------
        items
-------------------- */
.tittle{
    margin-bottom: 60px;
}
.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}
.pic{
    width: 300px;
    height: 256px;
    padding: 17px 15px;
}
.items{
    width: 1047px;
    height: 1662px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: rgb(236, 233, 228);
    justify-items: center;
}
.item{
    width: 329px;
    height: 476px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgb(59, 46, 46);
    transition: 1s;
}
.item-tittle{
    margin-left: 14px;
}
.item-names{
    margin-top: 16px;
    margin-bottom: 0px;
}
.rate{
    margin-top: 5px;
    margin-bottom: 0px;
}
.item-rate{
    margin-top: 6px;
    margin-bottom: 0px;
}
.item-des{
    font-size: 14px;
    margin-top: 0px;
}
.item:hover{
    transform: scale(1.2);

}
/*-------------------
         fotter
-------------------- */
.last{
    width: 1440px;
    height: 239px;
    background-color: rgb(80, 80, 226);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

} 
.icon a{
    text-decoration: none;
    margin-right: 20px;

}
.icon{
    margin-top: 0px;
}
.copy h5{
    margin: 0px;
}
